<div class="main">
    <div class="cover">
        <form action="">
            <p>Contact 1</p>
            <div class="line1 line">
                <div>
                    <div><label>Phone Number </label></div>
                    <div><input type="text" placeholder="e.g +234706731730"></div>
                </div>
                <div>
                    <div><label for="">Email</label></div>
                    <div><input type="text" placeholder="e.g name@gmail.com"></div>
                </div>
            </div>

            <p>Contact 2</p>
            <div class="line2 line">
                <div>
                    <div><label>Phone Number </label></div>
                    <div><input type="text" placeholder="e.g +234706731730"></div>
                </div>
                <div>
                    <div><label for="">Email</label></div>
                    <div><input type="text" placeholder="e.g name@gmail.com"></div>
                </div>
            </div>

            <p>Contact 3</p>
            <div class="line3 line">
                <div>
                    <div><label>Phone Number </label></div>
                    <div><input name="PhoneNumber" type="text" placeholder="e.g +234706731730"></div>
                </div>
                <div>
                    <div><label for="">Email</label></div>
                    <div><input name="email" type="text" placeholder="e.g name@gmail.com"></div>
                </div>
            </div>

            <p>Contact 4</p>
            <div class="line4 line">
                <div>
                    <div><label>Phone Number </label></div>
                    <div><input name="PhoneNumber" type="text" placeholder="e.g +234706731730"></div>
                </div>
                <div>
                    <div><label for="">Email</label></div>
                    <div><input name="email" type="text" placeholder="e.g name@gmail.com"></div>
                </div>
            </div>

            <p>Contact 5</p>
            <div class="line5 line">
                <div>
                    <div><label>Phone Number </label></div>
                    <div><input name="PhoneNumber" type="text" placeholder="e.g +234706731730"></div>
                </div>
                <div>
                    <div><label for="">Email</label></div>
                    <div><input name="email" type="text" placeholder="e.g name@gmail.com"></div>
                </div>
            </div>

            <p>Contact 6</p>
            <div class="line6 line">
                <div>
                    <div><label>Phone Number </label></div>
                    <div><input name="PhoneNumber" type="text" placeholder="e.g +234706731730"></div>
                </div>
                <div>
                    <div><label for="">Email</label></div>
                    <div><input name="email" type="text" placeholder="e.g name@gmail.com"></div>
                </div>
            </div>

            <p>Contact 7</p>
            <div class="line7 line">
                <div>
                    <div><label>Phone Number </label></div>
                    <div><input name="PhoneNumber" type="text" placeholder="e.g +234706731730"></div>
                </div>
                <div>
                    <div><label for="">Email</label></div>
                    <div><input name="email" type="text" placeholder="e.g name@gmail.com"></div>
                </div>
            </div>

            <div>
                <button class="save-btn btn"  (click)="openModal()">SAVE ASSETS</button>
            </div>
        </form>

<!-- Modal Pop Up -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h3>Hello !</h3>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>



    </div>
</div>

<script src="/assets/js/bootstrap.min.js"></script>
