.navbar{
  font-family: 'Inter';
}
nav{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    z-index: 10;
    justify-content: space-evenly;
    color: white;
    position: absolute;
  	width: 100%;
  	height: 93px;
    position: fixed;
  	top: 0px;
  	background: rgba(35, 46, 87, 0.8);
  	backdrop-filter: blur(12.1935px);
}
.mobile-nav{
  flex-direction: column;
  height: 100%;
  display: none;
  margin:auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
  position: fixed;
  background: rgba(35, 46, 87, 0.8);
  backdrop-filter: blur(12.1935px);
}
.mobile-nav li{
  list-style: none;
  margin-top: 1cm;
  padding: 0;
}
.mobile-nav a{
  color: white;
  text-decoration: none;
}
.menuClass{
  display: none;
}
/* Styling Logo*/

.logo{
    padding: 3vh 3vw;
    text-align: left;
    width: 20vw;
    display: flex;
  	flex-direction: row;
  	justify-content: center;
  	align-items: center;
  	width: 110px;
  	height: 39px;
  	font-family: 'Inter';
  	font-style: normal;
  	gap: 10px;
}

/* Styling Navigation Links*/
.brothers{
  display: flex;
  flex-direction: row;
  /* outline: 4px solid yellow; */
}
.nav-links{
    padding: 3vh 7vw;
    display: flex;
    padding-top: 2px;
    align-items: center;
    list-style: none;
    font-weight: 600;
}

.nav-links li a{
    text-decoration: none;
    transition: all ease-in-out 350ms;
    color: white;
    width: 64px;
  	height: 19px;
  	font-family: 'Inter';
  	font-style: normal;
  	font-weight: 500;
  	font-size: 16px;
  	line-height: 19px;
}
.nav-links li{
    position:relative;
    list-style: none;
    padding: 20px;
    display: inline;
}

.nav-links li a:hover::before{
    width: 80%;
}


/*Navigation Icon Styling*/

.hamburger div{
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger{
    display: none;
}
.hamburger div:nth-child(2){
  margin: 4px 0;
}
.hamburger_Class div:nth-child(2){
  display: none;
}
.hamburger_Class div:nth-child(1){
  transform: rotate(40deg);
}

button{
	box-sizing: border-box;
	display: flex;
	padding: 4px 20px;
	padding-right: 10px;
	gap: 10px;
	position: relative;
	top: 25px;
	border: 2px solid #5758E0;
	border-radius: 30px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 19.2857px;
	line-height: 23px;
	color: #FFFFFF;
	align-items: flex-start;
	background: none;
}
@media screen and (max-width: 600px) {
	.logo{
		/*top: 90%;*/
		padding-top: 25px;
	}
	.nav-links{
		display: none;
	}
	.hamburger{
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
        .nav-links{
        background: #053742;
        opacity: 1;
        height: 10cm;
        width: 100%;
        flex-direction: column;
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links li{
        display: none;
    }
    .brothers{
      visibility: hidden;
    }
    .menuClass{
      display: flex;
      transition: 0.4s ease-in-out;
    }
}
