<div class="navbar">
	<nav>
	        <div class="logo pt-5">
	        	<img src="{{logo}}" alt="logo">
	            <h2 routerLink="">DAST</h2>
	        </div>
	        <div class="hamburger" [class.menu_iconClass]="menu_icon_variable" (click)="openMenu()">
	            <div class="bars1"></div>
	            <div class="bars2"></div>
	            <div class="bars3"></div>
	        </div>

					<div class="brothers">
						<div class="nav-links">
							<ul>
								 <li class="link1"><a routerLink="/about">About</a></li>
								 <li class="link2"><a routerLink="/whitepaper">Whitepaper</a></li>
								 <li class="link2"><a routerLink="/account">Account</a></li>
								 <li class="link3"><a routerLink="/security">Security</a></li>
								 <li class="link4"><a routerLink="/roadmap">Roadmap</a></li>
								 <li class="link4"><a routerLink=""><img src="{{telegram}}"></a></li>
								 <li class="link4"><a routerLink=""><img src="{{twitter}}"></a></li>								 
								 <li class="link4"><a routerLink="/profile">Profile</a></li>
							</ul>
						</div>

						<div class="connectbtn">
							<button (click)="connectService.checkConnection()"><img src="{{rocket}}">
								{{connectService.isConnected?connectService.connectedAccount:"Connect"}}</button>
						</div>
					</div>
    </nav>
		<div class="mobile-nav" [class.menuClass]="menuVariable">
			<div>
				<ul>
					<li class="link1"><a routerLink="/about">About</a></li>
					<li class="link2"><a routerLink="/whitepaper">Whitepaper</a></li>
					<li class="link2"><a routerLink="/account">Account</a></li>
					<li class="link3"><a routerLink="/security">Security</a></li>
					<li class="link4"><a routerLink="/roadmap">Roadmap</a></li>
					<li class="link4">
						<a routerLink="" class="mr-5"><img src="{{telegram}}"></a>
						&nbsp;&nbsp;
						<a routerLink=""><img src="{{twitter}}"></a></li>
					<li class="link4"><a routerLink="/profile">Profile</a></li>
				</ul>
			</div>

			<div class="connectbtn">
				<button (click)="connectService.checkConnection()"><img src="{{rocket}}">
					{{connectService.isConnected?connectService.connectedAccount:"Connect"}}</button>
			</div>
		</div>
</div>
<div id="liveAlertPlaceholder"></div>
<app-loading ></app-loading>