<div class="footer-controller">
  <div class="footer">
    <div class="container1">
      <h1>Dast.tech</h1>
      <p>Secured asset recovery technology</p>
      <div class="icons">
        <img src="{{telegram}}" alt="telegram-icon">
        <img src="{{twitter}}" alt="telegram-icon">
      </div>
    </div>
    <div class="container2 offset-md-2">
      <p>Home</p> 
      <p>Products</p>
      <p>Pricing</p>
    </div>
    <div class="container3 offset-md-2">
      <p>Ideas & Plans</p>
      <p>Prompt Strategies</p>
    </div>
    <div class="container4 offset-md-2 mb-4">
      <p>support@dast.tech</p>
      <p>https://dast.tech</p>
      <button type="button" name="Get Started " routerLink="/account">GET STARTED</button>
    </div>
  </div>
</div>
