<div class="main">
  <div class="footer">
    <div class="container1">
      <h1>Dast.tech</h1>
      <p>Secured asset recovery technology</p>
      <div class="icons">
        <img src="{{telegram}}" alt="telegram-icon">
        <img src="{{twitter}}" alt="telegram-icon">
      </div>
    </div>
    <div class="container2">
      <p>Home</p>
      <p>Products</p>
      <p>Services</p>
      <p>Pricing</p>
      <p>Help</p>
    </div>
    <div class="container3">
      <p>Ideas & Plans</p>
      <p>Prompt Strategies</p>
      <p>Content Composing</p>
      <p>Design & Development</p>
      <p>Creative Direction</p>
    </div>
    <div class="container4">
      <p>support@dast.tech</p>
      <p>https://dast.tech</p>
      <button type="button" name="Get Started">GET STARTED</button>
    </div>
  </div>
</div>
