
<div class="footer-controller">
  <div class="footer">
    <div class="container1">
      <h1>Dast.tech</h1>
      <p>Secured asset recovery technology</p>
      <div class="icons">
        <a href="https://t.me/dastofficialtg"> <img src="{{telegram}}" alt="telegram-icon"></a>
        <a href="https://mobile.twitter.com/DastCommunity?t=9hyFOcQGgx1gKi3c1blSNA&s=09"><img src="{{twitter}}"
            alt="telegram-icon"></a>
      </div>
    </div>
    <div class="container2 offset-md-2">
      <p routerLink="/">Home</p>
      <p routerLink="/">Products</p>
      <p routerLink="/">Pricing</p>
    </div>
    <div class="container3 offset-md-2">
      <p routerLink="/">Ideas & Plans</p>
      <p routerLink="/">Prompt Strategies</p>
    </div>
    <div class="container4 offset-md-2 mb-4">
      <p routerLink="/">support@dast.tech</p>
      <p>https://dast.tech</p>
      <button type="button" name="Get Started " routerLink="/account">GET STARTED</button>
    </div>
  </div>
</div>