<div class="main">
  <div class="title"><h2>MY SAVED ASSETS</h2></div>

    <div class="cover">
        <div class="asset1 asset">
            <div><p>Bitcoin Wallet Address</p></div>
            <div  class="view-btn"><button>View Asset</button></div>
        </div>

        <div class="asset2 asset">
            <div><p>My First Bank Account Details</p></div>
            <div><button>View Asset</button></div>
        </div>

        <div class="asset3 asset">
            <div><p>My Trust wallet recovery phrase</p></div>
            <div><button>View Asset</button></div>
        </div>

        <div class="asset4 asset">
            <div><p>My NIN Details</p></div>
            <div><button>View Asset</button></div>
        </div>
    </div>
</div>
