<div class="main">
    <div class="cover">
        <div class="title">
            <p>Please, kindly provide the information required below to recover your assets</p>
        </div>
        <form method="post">
            <div class="line">
              <div class="">
                <label for="">Recovery Key*</label>
              </div>
              <div class="">
                <input type="text" name="" value="" placeholder="000 000 000 000">
              </div>
            </div>

            <div class="line">
              <div class="">
                <label for="">Full name*</label>
              </div>
              <div class="">
                <input type="text" name="" value="" placeholder="Full name">
              </div>
            </div>

            <div class="line">
              <div class="">
                <label for="">Relation*</label>
              </div>
              <div class="">
                <select name="Relation"  placeholder="choose your relation">
                  <option></option>
                  <option>Father</option>
                  <option>Mother</option>
                  <option>Sister</option>
                  <option>Brother</option>
                  <option>Uncle</option>
                  <option>Nephew</option>
                  <option>Niece</option>
                </select>
              </div>
            </div>

            <div class="line">
              <div class="">
                <label for="">Leave a comment*</label>
              </div>
              <div class="line">
                <textarea name="comment" rows="8" cols="54" placeholder="Please state your reason for the recovery"></textarea>
              </div>
            </div>

            <div class="line">
              <button type="submit" name="button">RECOVER ASSET</button>
            </div>

            <div class="line">
              <p>Need help? <a href="#">click here</a></p>
            </div>
        </form>
    </div>
</div>
