.white-paper-controller{
  padding: 50px;
}
.main{
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Inter';
  margin-top: 20px;
  padding-top: 25px;
}
.main .title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid grey;
  line-height: 150%;
}
.selection{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}
.introduction, .tokenomics, .burning-policy{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background: rgba(55, 71, 79, 1);
  height: 1cm;
}



@media screen and (max-width: 700px) {
  .white-paper-controller{
    padding: 20px;
  }
  .introduction, .tokenomics, .burning-policy{
    height: 0.5cm;
  }
}
