<div class="white-paper-controller">
    <div class="main">
        <div class="title">
            <h2>WHITE PAPER</h2>
            <p>DIGITAL ACCESS SECURITY TOKEN</p>
        </div>
        <br>
        <div class="selection">
            <div class="introduction">
                <div class="intro"><p>INTRODUCTION</p></div>
                <div class=""><img src="{{plus}}" alt="plus-icon"></div>
            </div>
            <div class="tokenomics">
                <div class="token"><p>TOKENOMICS</p></div>
                <div class=""><img src="{{plus}}" alt="plus-icon"></div>
            </div>
            <div class="burning-policy">
                <div class="burning"><p>BURNING POLICY</p></div>
                <div class=""><img src="{{plus}}" alt="plus-icon"></div>
            </div>
        </div>
    </div>
</div>
