<div class="container4">
	<div class="main">
		<div data-aos="fade-right" data-aos-duration="2000" class="image">
			<img src="{{aboutImage}}">
		</div>
		<div data-aos="fade-up" data-aos-duration="2000" class="title">
			<h1>About Us</h1><br>
			<p>Digital Access Security Token Chain is to become the infrastructure of provable trust for all. Furthermore, Digital Access Security Token intends building up a security technology layer that helps users to secure and recover their digital assets for their family members or next of kin in case of unforeseen circumstances like loss of life. It will serve as a secured recovery technology for assets of loved ones.</p>
		</div>
	</div>
</div>
