<div class="container4"> 
	<div class="image"
	data-aos="zoom-in"
	data-aos-duration="1000">
		<img src="{{aboutImage}}">
	</div>
	<div class="title">
		<h1>About Us</h1><br>
		<p  data-aos="fade-down"
        data-aos-duration="1000">Digital Access Security Token Chain is to become the infrastructure of 
		provable trust for all. Furthermore, Digital Access Security Token intends building up a security technology layer 
		that helps users to secure and recover their digital
		 assets for their family members or next of kin in case of unforeseen circumstances like loss of life. It will serve as 
		 a secured recovery technology for assets of loved ones.</p>
	</div>
</div>

<div class="container-fluid bg-light">
	<div class="row">
		<div class="col-md-6 p-5  text-dark">
			<div class="title text-dark">
			<h1>Our Mission</h1>
			<p 
            data-aos="fade-up-right"
            data-aos-duration="1000">The Mission of Digital Access Security Token is to become a Blockchain Infrastructure of provable trust for all. </p>
		</div>
		</div>
		<div class="col-md-6 p-5  text-dark">
			<div class="title text-dark">
			<h1>Our Mission</h1>
			<p 
            data-aos="fade-up-left"
            data-aos-duration="1000">The Vision of Digital Access Security Token is to build a security technology layer that helps users to secure and 
				recover their assess to their assets like the security keys to their digital assets wallets and other digital information 
				for their beneficiary such as family members or next of kin in case of unforeseen circumstances like forgetfulness or loss of life.</p>
		</div>
		</div>
	</div>
</div>