.video-controller{
  padding: 90px;
  font-family: 'Inter';
  background: rgba(35, 46, 87, 0.9);
  color: white;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
.title{
  border-bottom: 1px solid grey;
  width: 100%;
  text-align: center;
}
.video-container{
    padding: 30px;
}
.video-container video{
  width: 100%;
}


@media screen and (max-width: 700px) {
  .video-controller{
    padding: 0px;
    margin: auto;
  }
  .video-container{
      padding: 0px;
  }
}
