<div class="main">
    <div class="security-cover">
        <div class="demo1">
            <div class="icon">
                <img src="{{iconA}}" alt="IconA">
            </div>
            <div>
                <h1>Save Assets</h1><br>
                <p>You can secure your wallet by saving a <br> security pattern on DAST smartcontract</p>
            </div>
            <div class="btn">
                <button routerLink="/saveAsset">Secure assets</button>
            </div>
        </div>
        <div class="demo2">
            <div class="icon">
                <img src="{{iconB}}" alt="IconB">
            </div>
            <div>
                <h1>Secured Wallets</h1><br>
                <p>You can view the list of secured wallets here</p>
            </div>
            <div class="btn">
                <button routerLink="/account/assets">View secured assets</button>
            </div>
        </div>
        <div class="demo3">
            <div class="icon">
                <img style="width: 70px; border-radius:100%" src="assets/images/img.png" alt="IconC">
            </div>
            <div>
                <h1>Profile</h1><br>
                <p>View and update your person details</p>
            </div>
            <div class="btn">
              <button routerLink="/account/profile">View and Edit</button>
            </div>
        </div>
    </div>
</div>

