<div class="main">
    <div class="security-cover">
        <div class="demo1">
            <div class="icon">
                <img src="{{iconA}}" alt="IconA">
            </div>
            <div>
                <h1>Save Assets</h1><br>
                <p>You can secure your wallet by saving a <br> security pattern on DAST smartcontract</p>
            </div>
            <div class="btn">
                <button routerLink="/saveAsset">Secure assets</button>
            </div>
        </div>
        <div class="demo2">
            <div class="icon">
                <img src="{{iconB}}" alt="IconB">
            </div>
            <div>
                <h1>Secured Wallets</h1><br>
                <p>You can view the list of secured wallets here</p>
            </div>
            <div class="btn">
                <button routerLink="/viewAsset">View secured assets</button>
            </div>
        </div>
        <div class="demo3">
            <div class="icon">
                <img src="{{iconC}}" alt="IconC">
            </div>
            <div>
                <h1>Recover Assets</h1><br>
                <p>If your recieved recovery message from <br>
                Dast, click here to continue</p>
            </div>
            <div class="btn">
                <button routerLink="/recoverAsset">Recover assets</button>
            </div>
        </div>
    </div>
</div>
