<div class="main">
    <div class="title">
        <p>Pricing</p>
        <h1>Simple, transparent pricing</h1>
    </div> <br>
    <div class="container">
        <div class="row row1 justify-content-center gx-2">
            <div class="col-12 col-sm-6 col-md-3" data-aos="fade-right">
                <div class="demo p-3 gx-2">
                    <div>
                        <h1>$10/yr</h1>
                        <h4>Bronze Package</h4>
                        <p>Billed annually</p>
                    </div>
                    <div>
                        <h5>Benefits</h5>
                        <div>
                           <label><img src="{{check}}" alt="checkicon"> User can save his asset</label>
                        </div>
                        <div>
                            <label><img src="{{check}}" alt="checkicon"> User can recover his asset</label>
                        </div>
                        <div>
                            <label><img src="{{nocheck}}" alt="checkicon"> No trusted contact</label>
                        </div>
                        <div>
                            <label><img src="{{check}}" alt="checkicon"> Next of kin can recover asset</label>
                        </div>
                    </div> <br>
                    <div>
                        <h5>Prices</h5>
                        <div>
                           <label><img src="{{check}}" alt="checkicon">Saving fee $10</label>
                        </div>
                        <div>
                            <label><img src="{{check}}" alt="checkicon">Editing fee $4</label>
                        </div>
                        <div>
                            <label><img src="{{check}}" alt="checkicon">Recovery fee $20</label>
                        </div>
                    </div> <br>
                    <div class="button bg-primary getStarted" routerLink="/account">Get started</div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3" data-aos="fade-left">
                <div class="demo p-3">
                    <div>
                        <h1>$30/yr</h1>
                        <h4>Gold Package</h4>
                        <p>Billed annually</p>
                    </div>
                    <div>
                        <h5>Benefits</h5>
                        <div>
                           <label><img src="{{check}}" alt="checkicon"> User can save his asset</label>
                        </div>
                        <div>
                            <label><img src="{{check}}" alt="checkicon"> User can recover his asset</label>
                        </div>
                        <div>
                            <label><img src="{{check}}" alt="checkicon"> Next of kin can recover asset</label>
                        </div>
                        <div>
                            <label><img src="{{check}}" alt="checkicon"> User can recover his asset</label>
                        </div>
                        <div>
                            <label><img src="{{check}}" alt="checkicon"> Up to 2 trusted contacts to validate next of kin recovery
                            </label>
                        </div>
                    </div> <br>
                    <div>
                        <h5>Prices</h5>
                        <div>
                           <label><img src="{{check}}" alt="checkicon">Saving fee $30</label>
                        </div>
                        <div>
                            <label><img src="{{check}}" alt="checkicon">Editing fee $10</label> 
                        </div>
                        <div>
                            <label><img src="{{check}}" alt="checkicon">Recovery fee $50</label>
                        </div>
                    </div> <br>
                    <div class="button bg-primary getStarted" routerLink="/account">Get started</div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3" data-aos="fade-left">
                <div class="demo p-3">
                    <div>
                        <h1>$50/yr</h1>
                        <h4>Platinum Package</h4>
                        <p>Billed annually</p>
                    </div>
                    <div>
                        
                    </div>
                    <div>
                        <div>
                            <label><img src="{{check}}" alt="checkicon"> User can save his asset</label>
                         </div>
                         <div>
                             <label><img src="{{check}}" alt="checkicon"> User can recover his asset</label>
                         </div>
                         <div>
                             <label><img src="{{check}}" alt="checkicon"> Next of kin can recover asset</label>
                         </div>
                         <div>
                             <label><img src="{{check}}" alt="checkicon"> User can recover his asset</label>
                         </div>
                         <div>
                             <label><img src="{{check}}" alt="checkicon">Up to 5 trusted contacts to validate next of kin recovery
                             </label>
                         </div>
                    </div> <br>
                    <div>
                        <h5>Prices</h5>
                        <div>
                            <label><img src="{{check}}" alt="checkicon">Saving fee $50</label>
                         </div>
                         <div>
                             <label><img src="{{check}}" alt="checkicon">Editing fee $20</label> 
                         </div>
                         <div>
                             <label><img src="{{check}}" alt="checkicon">Recovery fee $100</label>
                         </div>
                    </div> <br>
                    <div class="button bg-primary get_started" routerLink="/account">Get started</div>
                </div>
            </div>
        </div>
    </div>
</div>