<div class="main">
    <div class="title">
        <p>Pricing</p>
        <h1>Simple, transparent pricing</h1>
        <p>Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit.</p>
    </div> <br>
    <div class="container">
        <div class="row row1 justify-content-center gx-2">
            <div class="col-12 col-sm-6 col-md-3" data-aos="fade-right">
                <div class="demo p-3 gx-2">
                    <div>
                        <h1>$40/mth</h1>
                        <h4>Bronze Package</h4>
                        <p>Billed annually</p>
                    </div>
                    <div>
                        <h5>Benefits</h5>
                        <div>
                           <label><img src="{{check}}" alt="checkicon"> Lorem ipsum dolor sit</label>
                        </div>
                        <div>
                            <label><img src="{{check}}" alt="checkicon"> Lorem ipsum dolor sit</label>
                        </div>
                        <div>
                            <label><img src="{{check}}" alt="checkicon"> Lorem ipsum dolor sit</label>
                        </div>
                    </div> <br>
                    <div>
                        <h5>Prices</h5>
                        <div>
                           <label><img src="{{check}}" alt="checkicon"> Lorem ipsum dolor sit</label>
                        </div>
                        <div>
                            <label><img src="{{check}}" alt="checkicon"> Lorem ipsum dolor sit</label>
                        </div>
                        <div>
                            <label><img src="{{check}}" alt="checkicon"> Lorem ipsum dolor sit</label>
                        </div>
                    </div> <br>
                    <div class="button bg-primary">Get started</div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3" data-aos="fade-left">
                <div class="demo p-3">
                    <div>
                        <h1>$40/mth</h1>
                        <h4>Bronze Package</h4>
                        <p>Billed annually</p>
                    </div>
                    <div>
                        <h5>Benefits</h5>
                        <div>
                           <label><img src="{{check}}" alt="checkicon"> Lorem ipsum dolor sit</label>
                        </div>
                        <div>
                            <label><img src="{{check}}" alt="checkicon"> Lorem ipsum dolor sit</label>
                        </div>
                        <div>
                            <label><img src="{{check}}" alt="checkicon"> Lorem ipsum dolor sit</label>
                        </div>
                    </div> <br>
                    <div>
                        <h5>Prices</h5>
                        <div>
                           <label><img src="{{check}}" alt="checkicon"> Lorem ipsum dolor sit</label>
                        </div>
                        <div>
                            <label><img src="{{check}}" alt="checkicon"> Lorem ipsum dolor sit</label>
                        </div>
                        <div>
                            <label><img src="{{check}}" alt="checkicon"> Lorem ipsum dolor sit</label>
                        </div>
                    </div> <br>
                    <div class="button bg-primary">Get started</div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3" data-aos="fade-left">
                <div class="demo p-3">
                    <div>
                        <h1>$40/mth</h1>
                        <h4>Bronze Package</h4>
                        <p>Billed annually</p>
                    </div>
                    <div>
                        
                    </div>
                    <div>
                        <h5>Benefits</h5>
                        <div>
                           <label><img src="{{check}}" alt="checkicon"> Lorem ipsum dolor sit</label>
                        </div>
                        <div>
                            <label><img src="{{check}}" alt="checkicon"> Lorem ipsum dolor sit</label>
                        </div>
                        <div>
                            <label><img src="{{check}}" alt="checkicon"> Lorem ipsum dolor sit</label>
                        </div>
                    </div> <br>
                    <div>
                        <h5>Prices</h5>
                        <div>
                           <label><img src="{{check}}" alt="checkicon"> Lorem ipsum dolor sit</label>
                        </div>
                        <div>
                            <label><img src="{{check}}" alt="checkicon"> Lorem ipsum dolor sit</label>
                        </div>
                        <div>
                            <label><img src="{{check}}" alt="checkicon"> Lorem ipsum dolor sit</label>
                        </div>
                    </div> <br>
                    <div class="button bg-primary">Get started</div>
                </div>
            </div>
        </div>
    </div>
</div>