<div class="container-fluid pt-5">
    <div class="row pt-5">
        <div class="col-md-12 pt-5 text-center alert alert-info">
            <h3 class="">{{getUser.fullname}}</h3>
                <hr />
            <p>
                {{getUser.phone}} <br>
                {{getUser.email}} <br>
                {{getUser.country }} <br>

            </p>
            <hr />
                <button btn btn-primary routerLink="/account/edit">Edit Profile</button>
            <div class="info">
                <h1></h1>
            </div>
        </div>
    </div>
</div>
