<div class="strategy-controller">
    <div class="main">
        <div class="image" 
        data-aos="fade-up-left"
        data-aos-duration="3000">
            <img src="{{main}}" alt="ideology and strategy">
        </div>

        <div class="container">
            <div class="container1" 
            data-aos="fade-up-right"
            data-aos-duration="500"
            >
                <h1>Our Strategy & Ideology</h1><br>
                <p>Ideology and strategy employed by DAST technology</p>
            </div>
            <br>
            <div class="container2"
            data-aos="fade-up-right"
            data-aos-duration="1000">
                <div class="container-icon"><img src="{{ideology}}" alt=""></div>
                <div class="ideology">
                    <h2>Ideology</h2><br>
                    <p>Idea behind DAST is to ensure a world where access to <br> digital assets is secured</p>
                </div>
            </div>

            <div class="container3"
            data-aos="fade-up-right"
            data-aos-duration="2000">
                <div class="container-icon"><img src="{{strategy}}" alt=""></div>
                <div class="strategy">
                    <h2>Strategy</h2><br>
                    <p>Your family/next of kin will have knowledge of where you<br> stored your digital assets but you are in control</p>
                </div>
            </div>
        </div>
    </div>

</div>
