<div class="container-fluid bg-light">
    <div class="row p-5">

        <div class="col-md-6 " data-aos="fade-up-right" data-aos-duration="1000">
            <img class="w-100" src="assets/images/sp.png" alt="">
        </div>

        <div class="col-md-6 " data-aos="fade-up-left" data-aos-duration="1000">
            <div class="title">
                <h1>How it works</h1>
                <h3>1. Save & secure Assets</h3>
                <p>You can secure your digital assets by saving it on the DAST security technology layer.
                    It is encrypted and backed up on the blockchain. Only your wallet will be able to view or edit it.
                    DAST will generate a
                    recovery token that the user can hand to the
                    next of kin or family members that can be used to recover it in case of unforeseen circumstance like
                    lose of life.</p>

                <h3>2. Recover Assets</h3>
                <p>You or your next of kin will be able to recover your assets with the use of recovery token. Every
                    recovery request will
                    pass through a validation process and upon 95% positive confirmations, access will be granted.</p>
            </div>
        </div>

    </div>

    <div class="row whyus">
        <div class="col-md-6" data-aos="fade-up-right" data-aos-duration="1000">
            <div class="title">
                <h1>Why Choose DAST</h1>
                <p>1. Digital Access Security Token is a working web 3 infrastructure of provable trust for all.</p>
                <p>2. You are in full control of your digital assets, seed phrase, usernames / passwords and to your
                    next of
                    kin when you are no more.
                </p>
                <p>3. Institutions, organizations, banks, military, businesses and individuals can secure - save, edit
                    and restore
                    their access to vital information on DAST platform.</p>
            </div>
        </div>

        <div class="col-md-6 p-5" data-aos="fade-up-left" data-aos-duration="1000">
            <img class="w-100" src="assets/images/whyus.png" alt="">
        </div>

    </div>
</div>