.container3 {
	background: #0C122D;
	padding-bottom: 120px;
	width: 100vw;
	margin-top: -2%;
}

.roadmap-cover {
	display: flex;
	padding: 10px;
	padding-top: 4cm;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.title {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	color: white;
	line-height: 130%;
}

.roadmap {
	display: flex;
	padding-top: 20px;
	width: 90%;
	margin: auto;
	justify-content: space-between;
}

.Q {
	
	background: rgba(255, 255, 255, 0.05);
	border-radius: 16px;

	/* Inside auto layout */
	color: white;
	padding:20px;
	@media(min-width:991px){
	justify-content: space-evenly;
	width: 30%;
	margin-left: 1.5%;
	}
}

.Q p {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 250%;
	list-style: none;
}

.rm {
	background-color: white;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	padding: 10px;
}

@media screen and (max-width: 700px) {
	.roadmap {
		flex-direction: column;
		width: 100%;
	}

	.title p {
		font-size: 12px;
	}

	.Q4,
	.Q1,
	.Q2 {
		width: 90%;
		font-size: 23px;
		padding: 3px;
		padding-top: 20px;
		margin: auto;
		margin-top: 12px
	}

	.Q1 p,
	.Q2 p,
	.Q4 p {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 150;
		font-size: 16px;
		line-height: 250%;
	}
}