<div class="main">
	<div class="roadmap-cover">
		<div class="title">
			<h2>ROADMAP</h2><br>
			<p>DIGITAL ACCESS SECURITY TOKEN ROADMAP</p>
		</div>
		<div class="roadmap">
			<div data-aos="fade-up" data-aos-duration="5000" class="Q4">
				<img class="rm" src="{{icon1}}">
				<h2>Q4</h2>
				<p>. Project Launch</p>
				<p>. Website Launch</p>
				<p>. Open Airdrop</p>
				<p>. Presale and ICO</p>
				<p>. Coingecko and nomics Listing</p>
				<p>. Pancakeswap Listing</p>
				<p><img src="{{forward}}"></p>
			</div>

			<div data-aos="fade-up" data-aos-duration="3000" class="Q1">
				<img class="rm" src="{{icon2}}">
				<h2>Q1</h2>
				<p>. Token Burning-Live</p>
				<p>. Gate.io and Bitmart listing</p>
				<p>. Staking - live</p>
				<p>. Major Partnerships</p>
				<p><img src="{{forward}}"></p>
			</div>

			<div data-aos="fade-up" data-aos-duration="1000" class="Q2">
				<img class="rm" src="{{icon3}}">
				<h2>Q2</h2>
				<p>. DAST Security Recovery Platform Launch</p>
				<p>. DAST Security App: Releasing Function</p>
				<p>. DAST Security App: QR-Code Intergration</p>
				<p><img src="{{forward}}"></p>
			</div>

		</div>
	</div>
</div>
