<div class="container3">
	<div class="roadmap-cover text-center">
		<div class="title">
			<h2>ROADMAP</h2><br>
			<p>DIGITAL ACCESS SECURITY TOKEN ROADMAP</p>
		</div>

	</div>

	<div id="carouselExampleSlidesOnly" class="carousel" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">

				<div class="container-fluid">
					<div class="row g-2">
						<div class="Q col-md-4">

							<div class="" data-aos="fade-up-right" data-aos-duration="1000">
								<h1>DAST Q1-Q2: </h1>
								<p> Idea formation</p>
								<p> Team formation</p>
								<p> Idea Implementation</p>
								<p>Community Building / Development</p>
							</div>
						</div>
					
						<div class="Q col-md-4">

							<div class="">
								<h1>DAST Q3:</h1>
								<p> Website Launch</p>
								<p> Community initial marketing / airdrop</p>
								<p> DAST DAPP testnet</p>
								<p> Recruitment and Training of DAST Validators / other staff members Assessing pre-seed
									funds
								</p>
							</div>
						</div>
					
						<div class="Q col-md-4">

							<div class="" data-aos="fade-up-left" data-aos-duration="1000">
								<h1>DAST Q4:</h1>
								<p>DAST DAPP goes live on Mainnet</p>
								<p>Staking - Live</p>
								<p>DEX Listing</p>
								<p>CMC and CG listing</p>
								<p>CEX Listing</p>
								<p>Token Burning - Live</p>
								<p>Heavy Marketing</p>
								<p>Partnership with Wallet owners and Financial Institutions.</p>
							</div>
						</div>

						
						<div class="Q bg-muted col-md-4 offset-md-6 d-none d-md-block">
						</div>

						<div class="Q col-md-4 offset-md-6">

							<div class="" data-aos="fade-up-left" data-aos-duration="1000">
								<h1>DAST Q5:</h1>
								<p>DAST DAPP goes live on Mainnet</p>
								<p>Staking - Live</p>
								<p>DEX Listing</p>
								<p>CMC and CG listing</p>
								<p>CEX Listing</p>
								<p>Token Burning - Live</p>
								<p>Heavy Marketing</p>
								<p>Partnership with Wallet owners and Financial Institutions.</p>
							</div>
						</div>

						<div class="Q bg-muted col-md-4 offset-md-6 d-none d-md-block">
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>