<div class="main">
    <div class="cover">
        <div class="top-btn">
            <button class="details-btn">Enter Personal Details</button>
            <button class="other-btn">Other Details</button>
        </div>
        <div>
            <form action="">
                <div>
                   <label for="Title">Title/category</label><br>
                    <input name="Title" type="text" placeholder="e.g Bitcoin Wallet Address"> 
                </div> <br>
                <div>
                    <label for="Fullname">Full name</label><br>
                     <input name="Fullname" type="text" placeholder="e.g John Moriz Peters"> 
                 </div> <br>
                 <div>
                    <label for="PhoneNumber">Phone number</label><br>
                     <input name="PhoneNumber" type="text" placeholder="e.g +234 706 731 730"> 
                 </div> <br>
                 <div>
                    <label for="Email">Email</label><br>
                     <input name="Email" type="text" placeholder="e.g name@gmail.com"> 
                 </div> <br>
                 <div>
                    <label for="Password">Password</label><br>
                     <input name="Password" type="text" placeholder="e.g Bit@wall2022"> 
                 </div> <br>
                 <div>
                     <button class="continue-btn">CONTINUE</button>
                 </div>
            </form>
        </div>
    </div>
</div>