/* You can add global styles to this file, and also import other style files */
@import "/node_modules/bootstrap/scss/bootstrap.scss";
@import '~bootstrap-icons/font/bootstrap-icons';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans:wght@800&family=Poppins:wght@300;700&display=swap');

$color1: linear-gradient(122.8deg, #1D3062 14.84%, #3D272B 100%);


body{
	background: linear-gradient(122.8deg, #0C122D 14.84%, #0C122D 100%);
}
*{
	margin: 0;
}

button{
	padding: 10px;
	border-radius: 1cm;
	border: none;
	background: #5758E0;
	border: 2px solid #5758E0;
	border-radius: 30px;
	font-family: 'Inter';
	font-size: 16px;
	color: #FFFFFF;
	width: 150px;
	height: 50px;
  }

  #liveAlertPlaceholder{
	position: fixed;
	top: 20%;
	right: 0%;
	width: 40vw;
	@media(max-width:767px){
		width: 90vw;
	}
  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


html,body{
	overflow-x: hidden;
	width: 100vw;
}

p{
font-family: Lato;

}
h1,h2,h3,h4,h5,h6{
	font-family: Inter;
}