<div class="main">
    <div class="container title" data-aos="fade-up">
        <p data-aos="fade-up">We're hiring!</p>
        <h2>Meet our team</h2>
        <p data-aos="fade-up">Our philosophy is simple-hire a team of diverse, passionate
            and foster a culture that empowers you to do your best work.
        </p>
        <div class="buttons" data-aos="fade-up">
            <div class="about">About us</div>
            <div class="positions">Open positions</div>
        </div>
    </div>
    <div class="container-md">
        <div class="row gx-2">
            <div class="col-12 col-sm-6 col-md-3" data-aos="fade-right">
                <div class="demo p-3">
                    <div class="avatar"><img src="{{avatar}}" alt=""></div>
                    <div class="txt2">
                        <p>Olivia Rhya</p>
                        <p>Founder & CEO</p>
                        <p>Former co-founder of Opendoor. Early staff at Spotify and Clearbit</p>
                        <div class="socials">
                            <div class="twitter"><img src="{{twitter}}" alt=""></div>
                            <div class="linkedin"><img src="{{linkedin}}" alt=""></div>
                            <div class="website"><img src="{{website}}" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3" data-aos="fade-right">
                    <div class="demo p-3">
                        <div class="avatar"><img src="{{avatar1}}" alt=""></div>
                        <div class="txt2">
                            <p>Olivia Rhya</p>
                            <p>Founder & CEO</p>
                            <p>Former co-founder of Opendoor. Early staff at Spotify and Clearbit</p>
                            <div class="socials">
                                <div class="twitter"><img src="{{twitter}}" alt=""></div>
                                <div class="linkedin"><img src="{{linkedin}}" alt=""></div>
                                <div class="website"><img src="{{website}}" alt=""></div>
                            </div>
                        </div>
                    
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3" data-aos="fade-left">                
                    <div class="demo p-3">
                    <div class="avatar"><img src="{{avatar2}}" alt=""></div>
                    <div class="txt2">
                        <p>Olivia Rhya</p>
                        <p>Founder & CEO</p>
                        <p>Former co-founder of Opendoor. Early staff at Spotify and Clearbit</p>
                        <div class="socials">
                            <div class="twitter"><img src="{{twitter}}" alt=""></div>
                            <div class="linkedin"><img src="{{linkedin}}" alt=""></div>
                            <div class="website"><img src="{{website}}" alt=""></div>
                        </div>
                    </div>
                
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3" data-aos="fade-left">                
                <div class="demo p-3">
                    <div class="avatar"><img src="{{avatar3}}" alt=""></div>
                    <div class="txt2">
                        <p>Olivia Rhya</p>
                        <p>Founder & CEO</p>
                        <p>Former co-founder of Opendoor. Early staff at Spotify and Clearbit</p>
                        <div class="socials">
                            <div class="twitter"><img src="{{twitter}}" alt=""></div>
                            <div class="linkedin"><img src="{{linkedin}}" alt=""></div>
                            <div class="website"><img src="{{website}}" alt=""></div>
                        </div>
                    </div>
                 </div>
            </div>
        </div> <br>
        <div class="row gx-2">
            <div class="col-12 col-sm-6 col-md-3" data-aos="fade-right">
                <div class="demo p-3">
                    <div class="avatar"><img src="{{avatar4}}" alt=""></div>
                    <div class="txt2">
                        <p>Olivia Rhya</p>
                        <p>Founder & CEO</p>
                        <p>Former co-founder of Opendoor. Early staff at Spotify and Clearbit</p>
                        <div class="socials">
                            <div class="twitter"><img src="{{twitter}}" alt=""></div>
                            <div class="linkedin"><img src="{{linkedin}}" alt=""></div>
                            <div class="website"><img src="{{website}}" alt=""></div>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3" data-aos="fade-right">
                <div class="demo p-3">
                    <div class="avatar"><img src="{{avatar5}}" alt=""></div>
                    <div class="txt2">
                        <p>Olivia Rhya</p>
                        <p>Founder & CEO</p>
                        <p>Former co-founder of Opendoor. Early staff at Spotify and Clearbit</p>
                        <div class="socials">
                            <div class="twitter"><img src="{{twitter}}" alt=""></div>
                            <div class="linkedin"><img src="{{linkedin}}" alt=""></div>
                            <div class="website"><img src="{{website}}" alt=""></div>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3" data-aos="fade-left">
                <div class="demo p-3">
                    <div class="avatar"><img src="{{avatar6}}" alt=""></div>
                    <div class="txt2">
                        <p>Olivia Rhya</p>
                        <p>Founder & CEO</p>
                        <p>Former co-founder of Opendoor. Early staff at Spotify and Clearbit</p>
                        <div class="socials">
                            <div class="twitter"><img src="{{twitter}}" alt=""></div>
                            <div class="linkedin"><img src="{{linkedin}}" alt=""></div>
                            <div class="website"><img src="{{website}}" alt=""></div>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3" data-aos="fade-left">
                <div class="demo p-3">
                    <div class="avatar"><img src="{{avatar7}}" alt=""></div>
                    <div class="txt2">
                        <p>Olivia Rhya</p>
                        <p>Founder & CEO</p>
                        <p>Former co-founder of Opendoor. Early staff at Spotify and Clearbit</p>
                        <div class="socials">
                            <div class="twitter"><img src="{{twitter}}" alt=""></div>
                            <div class="linkedin"><img src="{{linkedin}}" alt=""></div>
                            <div class="website"><img src="{{website}}" alt=""></div>
                        </div>
                    </div>
                 </div>
            </div>
        </div> <br>
        <div class="row row3 justify-content-center">
            <div class="col-12 col-sm-6 col-md-3" data-aos="fade-right">
                <div class="demo p-3">
                    <div class="avatar"><img src="{{avatar8}}" alt=""></div>
                    <div class="txt2">
                        <p>Olivia Rhya</p>
                        <p>Founder & CEO</p>
                        <p>Former co-founder of Opendoor. Early staff at Spotify and Clearbit</p>
                        <div class="socials">
                            <div class="twitter"><img src="{{twitter}}" alt=""></div>
                            <div class="linkedin"><img src="{{linkedin}}" alt=""></div>
                            <div class="website"><img src="{{website}}" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3" data-aos="fade-left">
                <div class="demo p-3">
                    <div class="avatar"><img src="{{avatar22}}" alt=""></div>
                    <div class="txt2">
                        <p>Olivia Rhya</p>
                        <p>Founder & CEO</p>
                        <p>Former co-founder of Opendoor. Early staff at Spotify and Clearbit</p>
                        <div class="socials">
                            <div class="twitter"><img src="{{twitter}}" alt=""></div>
                            <div class="linkedin"><img src="{{linkedin}}" alt=""></div>
                            <div class="website"><img src="{{website}}" alt=""></div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>
