<div class="main pb-5">
	<div class="key"  data-aos="fade-down">
		<img src="{{key}}">
	</div>
	<div class="title pb-5">
		<h2>DIGITAL ACCESS <br> SECURITY</h2>
		<p>Trusted recovery technology for digital assets. Your family/next of <br> kin will have access to your assets in case of unforseen <br> circumstances...</p> <br>
		<button routerLink="/account">GET STARTED</button>

			
	</div>
	<video loop muted autoplay poster="img/videoframe.jpg" class="fullscreenbg">
				<source src="https://dast.tech/videos/particles.mp4" type="video/mp4">
			</video>
</div>
