.accountarea{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 30vh;
}

// .loading{
//     margin-top: 200px;
//     position: fixed;
// }