.accountarea{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 30vh;
}

.create:hover{
    border: 2px solid #5758E0;
    border-radius: 10px;
    /* Firefox */
    -moz-transition: all 1s ease-in-out;
    /* WebKit */
    -webkit-transition: all 1s ease-in-out;
    /* Opera */
    -o-transition: all 1s ease-in-out;
    /* Standard */
    transition: all 1s ease-in-out;
}